body{
    font: 20px Arial,sans-serif;
}

.navbar {
    background-color: #298a08;
}

.who-we-are {
    background-color: #7F8C8D;
    color: white;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.partners {
    background-color: #B2BABB;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}